@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" rel="stylesheet" type="text/css" />
    <script src="~/Content/jquery-1.12.3.min.js"></script>
</head>
<body>
    <div class="container">
        <!--Todo find a way to shorten the paths, encapsulate in a helper class. or see if it's auto discoverable-->
        @Html.Partial("Views/Layouts/Menu.cshtml")
        <hr />
        <section class="row">
                @RenderBody() 
        </section>
        <footer>
            <hr />
            <p>Andi | NancyBlog</p>
            <hr />
        </footer>
    </div>


</body>

</html>
