
<div id="nav">

    <h1>Menu</h1>
    <ul role="navigation" class="nav nav-pills">
        
        <li role="presentation">
            <a href="/">Songs</a>
        </li>
        <li role="presentation">
            <a href="/">Login</a>
        </li>

    </ul>
</div>


