<section class="well">
    <p>Youtube video info preview here</p>
    <input placeholder="mood"/>
    <input placeholder="other info"/>
    <button class="btn btn-success">Add to list</button>




</section>
